@keyframes Animation {
	from {height:20vh;}
	to {height:19vh;}
}


body{
	background: #000000;
	background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 49, 71, 1) 100%);
	color: white;
}
#title{
	background: white;
	color: black;
}
#Central{
	background: white;
	margin-top: 2.5wh;
	width:90vw;
	margin-left:5vw;
}
.Content-Box{
	background:black;
	height: 20vh;
	margin-top: 2.5vh;
	margin-left: 2.5vw;
	margin-bottom: 2.5vw;
	margin-right: 2.5vw;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	display: grid;
}
.Subheading{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 1;
	text-align: center;
}
.Picture{
	grid-column:1;
	grid-row:2;
	height:15vh;
}
.Text{
	grid-column:2;
	grid-row:2;
}
#N1{
	color:#F0F8FF;
	background:#000033;
	
}
.Content-Box{
	Animation-name:Animation;
	animation-duration:0.5s;
	animation-iteration-count: 6;
	animation-direction:alternate-reverse;
}